<p id="notice"><%= notice %></p>

<h1 align="center">Tools</h1>
<br>
<table class="table" style="padding: ">
  <thead class="table-primary">
    <tr>
      <th>Name</th>
      <th>Prince</th>
      <th colspan="3"><%= link_to 'Nueva Herramienta', new_tool_path, class: "btn btn-primary", style: "float: right;"  %></th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
      <tr>
        <td><%= tool.name %></td>
        <td><%= tool.prince %></td>
        <td>
          <%= link_to tool, class: "btn btn-primary", title: "Ver" do %>
             <i class="far fa-eye"></i>
          <% end -%>

          <%= link_to edit_tool_path(tool), class: "btn btn-primary", title: "Editar" do %>
            <i class="fas fa-pencil-alt"></i>
          <% end -%>

          <%= link_to  tool, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", title: "Elininar" do %>
            <i class="fas fa-trash-alt"></i>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
