<p id="notice"><%= notice %></p>

<h1 align="center">Empleados</h1>
<br>
<table class="table">
  <thead class="table-primary">
    <tr>
      <th>Name</th>
      <th>Cedula</th>
      <th>Cargo</th>
      <th colspan="3"><%= link_to 'Nuevo Empleado', new_employed_path, class: "btn btn-primary", style: "float: right;" %></th>
    </tr>
  </thead>

  <tbody>
    <% @employeds.each do |employed| %>
      <tr>
        <td><%= employed.name %></td>
        <td><%= employed.cedula %></td>
        <td><%= employed.cargo %></td>

        <td>

          <%= link_to employed, class: "btn btn-primary", title: "Ver", style: "float: right; margin-left: 4px;" do %>
             <i class="far fa-eye"></i>
          <% end -%>

          <%= link_to edit_employed_path(employed), class: "btn btn-primary", title: "Editar", style: "float: right; margin-left: 4px;" do %>
            <i class="fas fa-pencil-alt"></i>
          <% end -%>

          <%= link_to  employed, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", title: "Elininar", style: "float: right; margin-left: 4px;" do %>
            <i class="fas fa-trash-alt"></i>
          <% end -%>
          
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


