<p id="notice"><%= notice %></p>

<h1 align="center">Acta</h1>
<br>
<table class="table" style="padding: ">
  <thead class="table-primary">
    <tr >
      <th>Fecha</th>
      <th>Description</th>
      <th>Signature delivery</th>
      <th>Signature requests</th>
      <th colspan="3"><%= link_to 'Nueva Acta', new_actum_path, class: "btn btn-primary", style: "float: right;" %></th>
    </tr>
  </thead>

  <tbody>
    <% @acta.each do |actum| %>
      <tr>
        <td><%= actum.fecha %></td>
        <td><%= actum.description %></td>
        <td><%= actum.signature_delivery %></td>
        <td><%= actum.signature_requests %></td>
        <td>

          <%= link_to "asdasd" , actum  %>

          <%= link_to acta_pdf_path(actum.id, :format => "pdf"), target:"_blank", class: "btn btn-info", title: "Generar Pdf" do%>
            <i class="far fa-file-pdf"></i>
          <% end -%>

          <%= link_to edit_actum_path(actum), class: "btn btn-primary", title: "Editar" do %>
            <i class="fas fa-pencil-alt"></i>
          <% end -%>

          <%= link_to  actum, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", title: "Elininar" do %>
            <i class="fas fa-trash-alt"></i>
          <% end -%>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<style type="text/css">
  td img{
    width: 56px;
  }
</style>