<div class="container">	
    <h1 align="center">Acta de Entrega</h1>

    <p align="center"> 
      <%= get_only_date(@actum.fecha) %>, se hace entrega al señor <%= @actum.employed.name %>, identificado con CC No. <%= @actum.employed.cedula %>, de los siguientes elementos de Trabajo
    </p>

    <div class="col-md-12 col-md-offset-8" style="margin-bottom: 100px;">
        <table border="1px" align="center">
          <thead >
            <tr>
              <th style="width: 60px !important;">N° Item</th>
              <th style="width: 200px !important;">Descripcion</th>
              <th style="width: 50px !important;">Cantidad</th>
            </tr>
          </thead>


          <tbody>
            <% @actum.items_tools.each_with_index do |tool, posicion| %>
              <tr>
                <td align="center"><%= posicion + 1 %></td>
                <td align="center"><%= tool.tools.name %></td>
                <td><%= tool.quantity   %></td>
              </tr>
            <% end -%>
          </tbody>

        </table>
    </div>

    <div class="col-md-12 col-md-offset-8">
        <table align="center" id="items">

          <tbody>
              <tr>
                <td class="td" style=" border-bottom: 1px solid black;">
                  <b><p>ENTREGA:</p></b>


                  <img src="data:image/pnd;base64,<%= @actum.signature_delivery%>" alt="">
                  <b><small><%= @actum.employed.cargo %> de planta dnuba<br>
                    <%= @actum.employed.name %>
                  </small></b>
                </td>
                <td class="espacio"></td>
                <td class="td" style=" border-bottom: 1px solid black;">
                  <b><p>RECIBE:</p></b>
                  
                <img src="data:image/pnd;base64,<%= @actum.signature_requests%>" alt="">
                  <b><small><%= @actum.employed.cargo %> #1<br>
                    <%= @actum.employed.name %>
                  </small></b>
                </td>
              </tr>
          </tbody>

        </table>
    </div>

  </div>
</div>


<style type="text/css">
	h1{
		margin-bottom: 40px;
		margin-top: 40px;
	}

  p{
    margin-bottom: 100px;
  }

  #items{
    width: 100% !important;
  }

  .td{
    width: 250px !important;
    height: 250px !important;
    padding: 10px !important;
  }

  .td p{
    position: relative;
    top: -60px !important;
    font-size: 20px;
  }

  .td small{
    position: relative;
    top: 95px !important;
    padding-left: 0px !important;
    text-align: center;
  }

  .td img{
    width: 300px;
  }

  .espacio{
    width: 170px !important;
  }
</style>
